region       = "us-east-1"
name         = "prod-eks-platform"
cluster_name = "prod-eks"

vpc_cidr             = "10.0.0.0/16"
azs                  = ["us-east-1a", "us-east-1b", "us-east-1c"]
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24", "10.0.13.0/24"]
pod_cidr             = "100.64.0.0/16"

kubernetes_version = "1.30"

admin_principal_arns = [
  "arn:aws:iam::123456789012:role/PlatformAdmins",
]

opensearch_master_user_arn = "arn:aws:iam::123456789012:role/PlatformAdmins"

domain_name     = "example.com"
app_record_name = "app.example.com"

install_cluster_addons = true
